<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SlovakJeBest</title>
    <link rel="stylesheet" href="/css/style.css">
    <style>
        img:hover {
    width: 80%;
}
    </style>
</head>
<body>
    <div on class="flex-container">
        <h1>Meme/FanPage na Martina Slováka</h1>
        <h1>Počet návštěv: <%= visitcount %></h1>
        <h3><a href="/info" style="color:yellow">Důležité info zde</a></h2>
        <form action="/clicker" style="width: 30%; height: 50%;">
            <button type="submit" style="width: 100%; height: 100%; font-size: 20px; color: chartreuse;">SlovakClicker</button>
        </form>
        <h1 class="ruzova">Obrazky:</h1>
        <div class="images">
            <img id="spinImage" src="/img/slovak.jpg">
            <img src="/img/slovak2.jpg">
        </div>
    </div>
</body>
</html>
