<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SlovakJeBest | Informace</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="flex-container">
    <h1>Informace</h1>
    <p>Tyto webové stránky nemají za cíl někoho zesměšnit nebo urazit. Pokud by měl Martin Slovák s obsahem těchto stránek nebo obecně se stránkami problém, mohu stránky odstranit. [PS: pane učiteli, hodina fyziky mi vžde zvedne náladu :)]</p>
</div>
</body>
</html>